%h1 
  This is the Document Title

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
  %code
    nostrud exercitation 
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
  %code
    ad minim veniam
  , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h2 
  Here's an 
  %em Interesting
  Header

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    
%ul
  %li
    Lorem ipsum dolor sit amet, consectetur adipisicing elit
  %li
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
  %li
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

%h3
  Now Fill Out the Form

%form
  %dl
    %dt 
      First Name
    %dd
      %input{ :type => 'text', :name => 'first_name' }
  %dl
    %dt 
      Last Name
    %dd
      %input{ :type => 'text', :name => 'last_name' }
  %dl
    %dt 
      Password
    %dd
      %input{ :type => 'password', :name => 'password' }
  %dl
    %dt 
      Gender
    - %w[ male female other ].each do |i|
      %dd
        %label{ :for => "gender_#{ i }" }
          %input{ :type => 'radio', :name => 'gender', :id => "gender_#{ i }" }
          = i.capitalize
  %dl
    %dt 
      Subscribe
    - 5.times do |i|
      %dd
        %label{ :for => "subscription#{ i }" }
          %input{ :type => 'checkbox', :name => 'subscriptions[]', :id => "subscription#{ i }" }
          Magazine
          = i
  %dl
    %dt 
      State
    %dd
      %select{ :name => 'state' }
        - 50.times do |i|
          %option{ :value => "state#{ i }" }
            State
            = i
  %dl
    %dt 
      Biography
    %dd
      %textarea{ :cols => '50', :rows => '10' }
  %p.submit
    %input{ :type => 'submit', :value => 'Submit the Form' }

%h2
  Back to Another Topic

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%blockquote
  %p 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%h3
  :textileinline
    Starting the *Sub-Topics*

%h4
  First Bit of Info

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit:

%pre
  %code 
    | get '/stylesheets/:filename.css' do |filename|
    |   content_type 'text/css', :charset => 'utf-8'
    |   file = File.open("#{ Sinatra::Application.public }/stylesheets/#{ filename }.less")
    |   require 'less'
    |   Less.parse file
    | end

%h4
  :textileinline
    Second Bit--Straight to the Code

%pre
  %code
    ENV['RACK_ENV'] ||= 'production'

    require 'app'
    run Sinatra::Application

%h1
  :textileinline
    _Introducing_ a Completely *New* Topic within this Document

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%ol
  %li
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %li
    Sunt in culpa qui officia deserunt mollit anim id est laborum.
  %li
    :textile
      Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  %li
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
