!!!
%html

  %head

    %title
      = page_title

    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => 'viewport', :content => 'width = device-width' }

    /[if IE]
      %script{ :type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
      
    - unless request.user_agent =~ /iPhone/
      %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/fonts/Puritan/stylesheet.css' }
    
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/global.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css', :media => 'screen, projection' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/iphone.css', :media => 'only screen and (max-device-width: 480px)' }
    
    -# %w[ mootools/mootools-1.2.3-core-yc.js app.js ].each do |src|
      %script{ :type => 'text/javascript', :src => "/javascript/#{ src }" }<
          
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }

  %body{ :id => @current_page.to_s.gsub('/', '_') }
  
    %section#page_container
  
      %header#page_header
        - if @current_page == :index
          %h1#page_title{ :title => site_name_pronunciation }
            = site_name
        - else
          %p#page_title
            %a{ :href => '/', :title => 'Back to home page' }
              = site_name
  
        %nav
          %ul#site_navigation
            %li
              %a{ :href => '/#works' } 
                Works
            %li
              %a{ :href => '#contact' } 
                Contact
          
          - if @current_page == :'works/show'
            %ul#work_navigation.works
              
              - if @previous_item
                %li.previous_item.work
                  %a{ :href => "/works/#{ @previous_item.slug }", :title => strip_tags(@previous_item.title) }
                    %img{ :src => @previous_item.image_thumbnail, :alt => strip_tags(@previous_item.title) }
              - else
                %li.first_item
                  This is the first work
              
              - if false
                %li.current_item.work{ :title => strip_tags(@work.title) }
                  %span
                    %img{ :src => @work.image_thumbnail, :alt => strip_tags(@work.title) }
          
              - if @next_item
                %li.next_item.work
                  %a{ :href => "/works/#{ @next_item.slug }", :title => strip_tags(@next_item.title) }
                    %img{ :src => @next_item.image_thumbnail }
              - else
                %li.last_item
                  This is the last work
          
              - if false #else
                %li.last_item.contact
                  %a{ :href => '#contact', :title => 'Contact Me &rarr;' }
                    Contact Me
  
      %section#page_content
        = yield
  
      %section#contact
        %header
          %h2 
            Contact Me
        %form{ :id => 'contact_form', :action => '/contact', :method => :post }
          %dl.name.required
            %dt
              %label{ :for => 'contact_name' }
                Name
            %dd
              %input#contact_name{ :type => 'text', :required => true }
          %dl.email.required
            %dt
              %label{ :for => 'contact_email' }
                Email
            %dd
              %input#contact_email{ :type => 'email', :required => true }
          %dl.tel
            %dt
              %label{ :for => 'contact_tel' }
                Phone
            %dd
              %input#contact_tel{ :type => 'tel' }
          %dl.message.required
            %dt
              %label{ :for => 'contact_message' }
                Message
            %dd
              %textarea#contact_message{ :cols => 40, :rows => 10, :required => true }
          %div.submit
            %input{ :type => 'submit', :value => 'Send Message' }
            
      
      %footer#page_footer
        :textile
          (c) 2004 - #{ Time.now.year } Matt Puchlerz