!!! Strict
%html{html_attrs}

  %head
    %title
      = page_title
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    / %link{ :rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection' }

  %body
    #container.section
      #header.header
        - if true
          %h1#page-title
            = page_title
        - else
          %p#page-title
            = page_title
      #nav.nav
        %ul
          %li
            %a{ :href => '#biography' } 
              Biography
          %li
            %a{ :href => '#work' } 
              Work
          %li
            %a{ :href => '#contact' } 
              Contact
      #content.section
        = yield
      #footer.footer
        :textile
          (c) 2004 - #{Time.now.year} Matt Puchlerz