!!!
%html

  %head
    %title
      = page_title
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }
    /[if IE]
      %script{ :type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
    
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/fonts/Puritan/stylesheet.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/global.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css', :media => 'screen, projection' }
    
    - %w[ mootools/mootools-1.2.3-core-yc.js app.js ].each do |src|
      %script{ :type => 'text/javascript', :src => "/javascript/#{ src }" }<
          
  %body{ :id => @current_page }
  
    %section#page_container
  
      %header#page_header
        - if @current_page == :index
          %h1#page_title
            = site_name
        - else
          %a#page_title{ :href => '/' }
            = site_name
  
      %nav
        %ul#site_navigation
          %li
            %a{ :href => '/#works' } 
              Works
          %li
            %a{ :href => '#contact' } 
              Contact          
  
      %section#page_content
        = yield
  
      %section#contact
        %form{ :id => 'contact_form', :action => '/contact', :method => :post }
          %dl.name.required
            %dt
              %label{ :for => 'contact_name' }
                Name
            %dd
              %input#contact_name{ :type => 'text', :required => true }
          %dl.email.required
            %dt
              %label{ :for => 'contact_email' }
                Email
            %dd
              %input#contact_email{ :type => 'email', :required => true }
          %dl.tel
            %dt
              %label{ :for => 'contact_tel' }
                Phone
            %dd
              %input#contact_tel{ :type => 'tel' }
          %dl.message.required
            %dt
              %label{ :for => 'contact_message' }
                Message
            %dd
              %textarea#contact_message{ :cols => 40, :rows => 10, :required => true }
          %div.submit
            %input{ :type => 'submit', :value => 'Send Message' }
            
      
      %footer#page_footer
        :textile
          (c) 2004 - #{ Time.now.year } Matt Puchlerz