!!!
%html

  %head

    %title
      = page_title

    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => 'viewport', :content => 'width = device-width' }

    /[if IE]
      %script{ :type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
      
    /- unless request.user_agent =~ /iPhone/
    /  %link{ :rel => 'stylesheet', :type => 'text/css', :href => mtime('/fonts/Puritan/stylesheet.css') }
    
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => mtime('/stylesheets/global.css') }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => mtime('/stylesheets/screen.css'), :media => 'screen, projection' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => mtime('/stylesheets/iphone.css'), :media => 'only screen and (max-device-width: 480px)' }
    
    /- %w[ mootools/mootools-1.2.3-core-yc.js app.js ].each do |src|
    /  %script{ :type => 'text/javascript', :src => mtime("/javascript/#{ src }") }<
          
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }

  %body{ :id => @current_page.to_s.gsub('/', '_') }
  
    %section#page_container
  
      %header#page_header
        - if @current_page == :index
          %h1#page_title{ :title => site_name_pronunciation }
            = site_name
        - else
          %p#page_title
            %a{ :href => '/', :title => 'Back to home page' }
              = site_name
  
        %nav
          %ul#site_navigation
            %li
              %a{ :href => '/#works' } 
                Works
            %li
              %a{ :href => '#contact' } 
                Contact
          
          = partial :works_navigation if @current_page == :'works/show'
  
      %section#page_content
        = yield
  
      = partial :contact
      
      %footer#page_footer
        :textile
          (c) 2004 - #{ Time.now.year } Matt Puchlerz