!!!
%html

  %head
    %title
      :textileinline
        #{ page_title }
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    / %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    / %link{ :rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection' }

  %body
  
    %section#document_container
  
      %header#document_header
        - if true
          %h1#document_title
            :textileinline
              #{ page_title }
        - else
          %p#document_title
            :textileinline
              #{ page_title }
  
      %nav#document_navigation
        %ul
          %li
            %a{ :href => '#biography' } 
              Biography
          %li
            %a{ :href => '#works' } 
              Works
          %li
            %a{ :href => '#contact' } 
              Contact
  
      %section#document_content
        = yield
  
      %footer#document_footer
        :textile
          (c) 2004 - #{ Time.now.year } Matt Puchlerz