!!!
%html

  %head
    %title
      = page_title
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico', :type => 'image/x-icon' }
    /[if IE]
      %script{ :type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
    
    %link{ :rel => 'stylesheet', :href => '/stylesheets/global.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection' }
    
    - %w[ mootools/mootools-1.2.3-core-yc.js cufon/cufon-yui.js cufon/LHF_Egyptian_400.font.js app.js ].each do |src|
      %script{ :type => 'text/javascript', :src => "/javascript/#{src}" }<
      
  %body{ :id => @current_page }
  
    #document_container
  
      %header#document_header
        - if @current_page == :index
          %h1#document_title
            = page_title
        - else
          %p#document_title
            = site_name
  
      %nav
        %ul#site_navigation
          %li
            %a{ :href => '/' } 
              Home
          %li
            %a{ :href => '/#works' } 
              Works
          %li
            %a{ :href => '/contact' } 
              Contact          
  
      %section#document_content
        = yield
  
      %footer#document_footer
        :textile
          (c) 2004 - #{ Time.now.year } Matt Puchlerz