!!!
%html

  %head
    %title
      = "Admin for #{ page_title }"
      = " (#{ Sinatra::Application.environment })" unless Sinatra::Application.environment == :production
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico", :type => "image/x-icon" }
    / %link{ :rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection' }

  %body{ :id => @current_page }
  
    %section#document_container
  
      %nav
        %ul#site_navigation
          %li
            %a{ :href => '/' } 
              View Site
          %li
            %a{ :href => '/admin/works' } 
              Works
  
      %section#document_content
        = yield