%header
  %h1
    Works
    %em.qty
      = @works.length
  %nav
    %ul#crud_navigation
      %li
        %strong
          List
      %li
        %a{ :href => '/admin/works/new' }
          New

%table.works{ :border => 1 }
  %thead
    %tr
      %th.position
        Position
      %th.title
        Title
      %th.slug
        Slug
      %th.description
        Description
      %th.viewable
        Viewable
      %th.actions
        Actions
  %tbody
    - @works.each_with_index do |work, i|
      %tr
        %td.position
          = work.position
        %td.title
          = work.title
        %td.slug
          = work.slug
        %td.description
          = strip_tags work.description
        %td.viewable
          = boolean_html work.viewable?
        %td.actions
          %ul
            %li.edit
              %a{ :href => "/admin/works/#{ work.id }/edit" }
                Edit
            %li.delete
              %form{ :action => "/admin/works/#{ work.id }", :method => :post, :onsubmit => 'return confirm("Are you sure?")' }
                %div
                  %input{ :type => :hidden, :name => '_method', :value => 'delete' }
                  %input{ :type => :submit, :value => 'Delete' }
          %ul.position
            - list_position_buttons(@works).each do |button|
              %li{ :class => button[:position] }
                %form{ :action => "/admin/works/#{ work.id }", :method => :post }
                  %div
                    %input{ :type => :hidden, :name => '_method', :value => 'put' }
                    %input{ :type => :hidden, :name => 'position', :value => button[:position] }
                    - if i == button[:disable_if]
                      %input{ :type => :submit, :value => button[:text], :disabled => 'disabled' }
                    - else
                      %input{ :type => :submit, :value => button[:text] }
