%h1 Works

%nav
  %ul#crud_navigation
    %li
      %strong
        Works
    %li
      %a{ :href => url_for_works_new }
        New Work

%p.count
  %strong
    = @works.length
  Total

%table{ :border => 1 }
  %thead
    %tr
      %th
        Position
      %th
        Title
      %th
        Slug
      %th
        Description
      %th
        Viewable
      %th
        Actions
  %tbody
    - @works.each_with_index do |work, i|
      %tr
        %td
          = work.position
        %td
          = work.title
        %td
          = work.slug
        %td
          = "#{ work.description[0..50] }&hellip;"
        %td
          = boolean_html work.viewable?
        %td
          %ul
            %li
              %a{ :href => url_for_works_show(work) }
                Show
            %li
              %a{ :href => url_for_works_edit(work) }
                Edit
            %li
              %form{ :action => url_for_works_destroy(work), :method => :post }
                %div
                  %input{ :type => :hidden, :name => '_method', :value => 'delete' }
                  %input{ :type => :submit, :value => 'Delete' }
          %ul.position
            - list_position_buttons(@works).each do |button|
              %li
                %form{ :action => url_for_works_show(work), :method => :post }
                  %div
                    %input{ :type => :hidden, :name => '_method', :value => 'put' }
                    %input{ :type => :hidden, :name => 'position', :value => button[:position] }
                    - if i == button[:disable_if]
                      %input{ :type => :submit, :value => button[:text], :disabled => 'disabled' }
                    - else
                      %input{ :type => :submit, :value => button[:text] }
