%h1 Show Work

%nav
  %ul#crud_navigation
    %li
      %a{ :href => '/admin/works' }
        Works
    %li
      %strong
        Show Work
    %li
      %a{ :href => "/admin/works/#{ @work.id }/edit" }
        Edit Work

%dl
  %dt
    Title
  %dd
    = @work.title

%dl
  %dt
    Slug
  %dd
    = @work.slug

%dl
  %dt
    Description
  %dd
    = @work.description

%dl
  %dt Images
  %dd
    %ul.images
      = partial :'works/work_image', :collection => @work.images